<div class="inter-pawn-tending">
{{#each tendablePawns}}
<label>Tending? <input class="tendable-pawn" data-actor-id="{{Id}}" type="checkbox" {{checked tending}}></input>{{Name}}</label>
{{/each}}
</div>