<div class="container">
    <div class="controls">
        <button type="button" data-action="restartNow">Restart RimWorld Application</button>
        <button type="button" data-action="saveNow">Save Now</button>
        {{#if selectedSave}}
        <label>Selected save file: {{selectedSave}}</label>
        <button type="submit    " data-action="loadSelected">Load selected</button>
        {{/if}}
        {{#unless selectedSave}}
        <label>Selected save file: None</label>
        <button disabled type="button">Load selected (no selection)</button>
        {{/unless}}
    </div>
    <div class="save-files">
        <ol>
            {{#each files}}
            <li class="save-item" data-save="{{this}}" data-action="selectSave">
                <label>{{this}}</label>
            </li>                
            {{/each}}
        </ol>
        
    </div>
</div>