<section class="tab standard-form pawn-actor-tab pawn-actor-bio-card {{tabs.bioCard.cssClass}}" data-tab="bioCard" data-group="{{tabs.bioCard.group}}">
{{#if system.bio}}
    {{>"systems/rimtop/templates/partials/bio-card-partial.hbs" system.bio}}
{{/if}}
</section>